body{
	overflow-x: hidden;
	font-family: "Inter UI",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,
	"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",
	"Noto Color Emoji";
	position: relative;
}
*{
	max-width: 100%;
}
nav{
	font-size: 40px;
}
.introsec{
	width: 100%;
	height: 600px;
	
  background-image: linear-gradient(to bottom right, #90ee9069, white);

	text-align: center;
	border-bottom-right-radius: 10%;
	


}
.alreadyknw{
	padding-top: 40px;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 9px 8px 20px 0px lightgrey;
	margin: 30px;
	width: 90%;
	
	padding-top: 5px;
}
.topinfo{
	padding-top: 25px;
	font-family: inherit;
	font-size: 1.1875rem;
	width: 100%;

}
.joinsch{
	padding-top: 60px;
	font-size: bolder;
	font-family: inherit;
	color:black;
	width: 100%;
	text-align: right;

}
 span img{
	padding-top: 30px !important;
	width: 100%;
}
.btn{
	margin: 10px;
	padding: 10px;
	height: 50px;
	width: 100px;
}
.align-right{
	align-items: right;
	text-align: right;
}
a{
	color: inherit;
}
.whyeon{
	padding: 70px;
}
.start-prep .btn{
	width: 150px;
}
.cardi{
	box-shadow: 9px 8px 20px 0px lightgrey;
	border: 0px 
	width: 92%;
	padding-left: 10px; 
	 
	padding-top: 20px;
	padding-bottom: 20px;
}
.cardi h4{
	font-family: inherit;
}
.cardcol{
	padding-top: 70px;

}
.joinschmoreinfo{
	color: grey;
	font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 20px;
    text-align: right;
}
.schtype{
	font-family: inherit;
	color: black;
	width: 100%;
}
.schtype .col-md-4 .li{
 text-align: left;
 padding-bottom: 10px;
}
.schtype {
	padding-left: 5px;
}
.schtype .col-md-4 .li .fa-check{
	color: #177317;
}
.grantheader{

	filter: grayscale(50%);
	
	
	
}
.grantcontent{
	filter: opacity(1);
}
.scroll-animation{
	width: 100%;
}
.jumbotron{
	font-family: inherit;
	padding-top: 60px;
	text-align: center;	
	color:#0fec00;
	background-image: url('support/grantbg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	

}

.row{
	max-width: 100%;
}
.smallbox img{
	width: 100%;
	margin-top: 20px;
	border-radius: 5px;
	
}
.smallboxcontainer{
	width: 100% !important;
	padding-left: 0px;

}
.smallboxtext{
	margin-top: 80px;
	font-family: inherit;
	text-align: center;
}
.smallboxtext img{
	max-width: 100%;
}
.footercontainer{
	border-top: 4px dashed white;
	padding-top: 100px;
background-color: #FaF8F0;
}
footer{
	color: white;
	padding-top: 60px;
	padding-left: 20px;
	padding-bottom: 60px;
	font-family: inherit;
	text-align: center;
	background-color: #043353 !important;
	border-top-left-radius: 10%;
	font-weight: bolder;
}
.footerlist{
	padding-top: 20px;
	font-family: inherit;
	text-align: left !important;
	color: lightgrey; 
	font-weight: lighter;

}
.copyright .social{
	padding: 10px;
	font-family: inherit;
}

.social{
	word-spacing: 20px;
}
.sub{
	height: 70px;
	width: 98%;
	float: center;
}


@media only screen and (max-width: 600px){
	.introsec{
		height: inherit;
	}
	 .hide img{
	max-width: 100%;
	
}
.grantcontent{
	width: 20px;
}
.row{
	max-width: 100%;
}
}
.partners{
	height: 200px;
	background-color: lightgrey;
	width: 100%;
	font-size: 50px;
	text-align: center;
}

.partners .row .col-md-3{
	margin: 1rem 0rem;
}